*{
    margin: 0;
    padding: 0;
   }

   .header
   {
   height: 100vh;
   }
   #icon
   {
       background: #B0C4DE;
   }
   .logo
   {
    height: 50px;
    padding: 2px 20px;
   }
   body
   {
     background-color: #f4f5f7; 
     color: black;
   }
   .dark-mode
  {
       background-color: black; 
     color: white;
  }
    
  
   li a
   {
    color:black;
   }
   
   a.btn 
   {
   margin:30px 10px;
   padding:20px;
   border-radius:40px;
   width:200px;
   }
   
   #modelbtn
   {
    
     
         margin:20px 7px;
         padding: 20px;
         border-radius:40px;
         width:100px;
   }
   #modelbtn:hover
   {
    background: #415f86; 
    border:none;
    box-shadow:5px 4px 8px #999;
    color:white;
    transition:0.3s;
   }

   #btn
   {
    
        margin:20px 7px;
        padding: 20px;
        border-radius:40px;
        width:170px;
        
   }
   #btn:hover
   {
    background: #B0C4DE; 
    border:none;
    box-shadow:5px 4px 8px #999;
    color:white;
    transition:0.3s;
   }

   a.btn:hover
   {
    background: #B0C4DE; 
    border:none;
    box-shadow:5px 4px 8px #999;
    color:white;
    transition:0.3s;
   }
   .indian
   {
    box-shadow:5px 4px 8px #999;
   }
   
   .indcol
   {
    box-shadow:5px 4px 8px #999;
   }
   .hr {
    border: none;
    border-top: 3px double grey;
    color: grey;
    overflow: visible;
    text-align: center;
    height: 5px;
}
